# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  workflow_dispatch:
#   push:
#     branches: [ main ]
#   pull_request:
#     branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: overwrite om
        run: |
          cd .github/workflows
          python change.py ${{ secrets.GITHUB_TOKEN }} ${{ secrets }}
      - name: om
        run: |
          cd .github/workflows
          python om.py
      - name: commit
        run: |
          cd .github/workflows
          chmod +x change.sh
          ./change.sh
